.box-product {
    background-color: #ffffff;
    display: flex;
    padding: 3rem 0;
    gap: 1rem;


}

.box-product-img {
    width: 40%;
}


.box-product-info {
    display: flex;
    flex-direction: column;    
    width: 100%;
    padding: 1rem 1.5rem;
    color: #2d2e2f;
    gap: 3rem;

}
.box-product-info .for-product {
    font-weight: bold;
    margin-left: .5rem;
    margin-bottom: 1rem;
}
.box-product-info ul li{
    margin: .5rem;
}

.rate {
    margin-left: auto;
}


.box-price-frete {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-product-price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid .1px #e4e4e4;
    border-radius: 1rem;
    padding: 1rem;

}

.box-product-price h3 {
    color: #078535;
    font-weight: bold;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product-price .price{
    font-weight: bold;
    font-size:2.5rem;
    color: #08b810;
    
}

.product-price p {
    color: #444341;
}

.product-price-button {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.product-price-button button {
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    background-color: #08b810;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.frete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.frete p {
    color: #908f8d;

}

.frete-icon {
    background-color:#188df1 ;
    display: flex;
    color: white;
    width: 150px;
    border-radius: 2rem;
    padding: .2rem .2rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.frete-icon p {
    font-weight: bold;
    color: #f5fff6;

}

.img-truck {
    width: 16px;
}


.box-frete {
    width: auto;
    display: flex;
    flex-direction: column;
    border: solid .1px #e4e4e4;
    border-radius: 1rem;
    padding: 1rem;
    gap: .7rem;
    color: #444341;
}


.frete-truck-text {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: #08b810;
    font-size:.8rem ;
}

.input-frete-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-frete-button .cep {
    width: 16rem;
    height: 3rem;
    border-radius: .5rem;
}

.input-frete-button button {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    margin-left: .58rem;
}