.box-product {
    background-color: #ffffff;
    display: flex;
    padding: 3rem 0;


}

.box-product-img {
    width: 40%;
}

.box-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 0 1.5rem;
    color: #2d2e2f;

}

.rate {
    margin-left: auto;
}


.box-price-frete {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-product-price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid .1px #e4e4e4;
    border-radius: 1rem;
    padding: 1rem;

}

.box-product-price h3 {
    color: #078535;
    font-weight: bold;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product-price .price{
    font-weight: bold;
    font-size:2.5rem;
    color: #08b810;
    
}

.product-price p {
    color: #444341;
}

.product-price-button {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.product-price-button button {
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    background-color: #08b810;
    color: white;
}

.frete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.frete p {
    color: #908f8d;

}

.frete-icon {
    background-color: #078535;
    display: flex;
    color: white;
    width: 150px;
    border-radius: 2rem;
    padding: .2rem .2rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.frete-icon p {
    font-weight: bold;
    color: #f5fff6;

}

.img-truck {
    width: 20px;
}

.box-frete {
    display: flex;
    flex-direction: column;
    border: solid .1px #e4e4e4;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.frete-truck-text {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #908f8d;
}

.input-frete-button .cep {
    width: 18rem;
    height: 3rem;
    border-radius: .5rem;
}

.input-frete-button button {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
}